@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
      text-decoration: none;
}
/* Header */
#header{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 10px;
}
#header .brand{
    width: fit-content;
    height: 100%;
}
#header .brand img {
    width: fit-content;
    height: 100%;
}
#header .header_list{
    display: flex;
    width: 100%;
    margin-left: 30px;
}
#header .header_list.secondary-list{
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    width: 100%;
}
#header .header_link{
    margin: 10px;
    list-style: none;
}
#header .header_link.searchbar{
    position: relative;
}
#header .header_link i{
    position: absolute;
    top: 14px;
    left: 13px;
    color: #696e79;
}
#header .header_link a{
    color: black;
    font-size: 1.1rem;
    padding: 15px;
    transition: all .3s;
}
#header .header_link a:hover{
    border-bottom: 4px solid maroon;
}
#header .header_list li input{
    padding: 10px 10px 10px 40px;
    width: 400px;
    outline: none;
    border: none;
    background-color: #f5f5f6;
    color: #696e79;
}
#header .header_list li input:focus{
    background-color: #ffff;
    border: 2px solid #f5f5f6;
}
/* Header End */

/* Hero */
#hero{
    height: 500px;
    width: 100%;
    padding: 40px;
}
#hero img{
    width: 100%;
}
/* Hero End */

/* Prodcuts */
#products{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
#products .product{
    /* flex-basis: 30%; */
    display: flex;
    flex-direction: column;
    width: 16rem;
    margin: 20px;
}
#products .product img{
    height: 100%;
    width: 100%;
}
/* Products End */
